// fonts

$font-main: "Roboto", sans-serif;
$font-medium: "Roboto", sans-serif;
$font-bold: "Roboto Slab", serif;

// *colors*

$white: white;
$bright-orange: #f26002;
$menu: #0271bc;
$lightblue: #8ccbea;
$ice-blue: #eff9ff;
$dark-grey-blue: #304268;
