.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 465px;
  color: $white;
  background-color: $dark-grey-blue;
  font-family: $font-main;

  &__icon {
    position: relative;
    top: -40px;
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $white;
    display: flex;
    justify-content: center;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 73px;
    height: 150px;
    font-size: 16px;
    line-height: 30px;

    &__link {
      color: $white;
      text-decoration: none;
    }

    &__articles {
      list-style: none;
    }

    &__ssnn {
      list-style: none;
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;

    &__copy {
      display: flex;
      justify-content: center;
    }

    &__icon {
      display: flex;
      justify-content: center;
      padding-bottom: 40px;
      padding-top: 10px;
    }
  }
}

@media (min-width: 768px) {
  .footer {
    width: 768px;
    height: 240px;
    display: flex;
    text-align: left;
    // flex-direction: column;
    box-sizing: border-box;

    &__icon {
      top: -80px;
      justify-content: center;
    }

    &__menu {
      order: 3;
    }

    &__articles {
      order: 2;
    }

    &__ssnn {
      flex: 1;
      order: 4;
    }
    &__bottom {
      order: 1;
    }
  }
}

// *desktop*

@media (min-width: 1200px) {
  .footer {
    width: 1280px;
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
  }
}
