.footer {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 465px;
  color: $white;
  background-color: $dark-grey-blue;
  font-family: $font-main;

  &__icon {
    position: relative;
    top: -80px;
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__aside {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 30px;

    &__menu {
      &__link {
        color: $white;
        text-decoration: none;
      }
      &__articles {
        margin-top: -50px;
        list-style: none;
      }
      &__ssnn {
        list-style: none;
        margin-top: 30px;
      }
    }
    &__bottom {
      margin-top: 30px;
    }
  }
}

@media (min-width: 768px) {
  .footer {
    width: 768px;
    height: 240px;
    box-sizing: border-box;
    display: flex;

    &__icon {
      top: -40px;
    }
    &__aside {
      flex-direction: row;
      margin-left: 40px;
      align-items: first baseline;
      gap: 200px;
      // justify-content: center;
      // justify-items: center;

      &__menu {
        display: flex;
        &__articles {
          order: 2;
          margin: 0;
        }
        &__ssnn {
          order: 3;
          margin: 0;
        }
      }
      &__bottom {
        margin: 0;
        order: 1;
        text-align: left;
      }
    }
  }
}

// *desktop*

@media (min-width: 1280px) {
  .footer {
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
  }
}
