.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 465px;
  color: white;
  background-color: #304268;
  font-family: $font-main;

  &__icon {
    position: relative;
    top: -50px;
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background-color: white;
    display: flex;
    justify-content: center;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 73px;
    height: 150px;
    font-size: 16px;
    line-height: 30px;

    &__articles {
      list-style: none;
    }

    &__ssnn {
      list-style: none;
    }
  }
  &__bottom {
    font-size: 14px;
    padding: 15px;
  }
}
