.tips {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 376px;

  &__pretitle {
    color: $lightblue;
    font-size: 14px;
    font-family: $font-main;
    margin: 30px 215px 0px 15px;
    grid-column: span 3;
  }

  &__title {
    grid-column: span 2;
    margin: 0px 15px 0px 15px;
    font-size: 24px;
    font-family: $font-bold;
  }

  &__text {
    grid-column: span 3;
    margin: 0px 15px 0px 15px;
    font-family: $font-main;
    font-size: 18px;
    line-height: 30px;
  }

  &__link {
    border: solid 2px $bright-orange;
    border-radius: 20px;
    width: 45px;
    height: 20px;
    grid-column: span 1;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    font-family: $font-medium;
    transition: transform 0.3s;
    &:active {
      transform: scale(1.2); /* Ajusta la escala según sea necesario */
    }

    &__text {
      text-decoration: none;
      color: $bright-orange;
    }
  }
}

/* tablet */

@media (min-width: 768px) {
  .tips {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 330px;
    padding-left: 40px;
    padding-right: 40px;
    &__pretitle {
      grid-column: span 5;
    }
    &__title {
      grid-column: span 5;
    }
    &__text {
      grid-column: span 5;
    }
  }
}

// *desktop*

@media (min-width: 1280px) {
  .tips {
    width: 100%;
    height: 360px;
    padding: 0%;
    display: grid;

    &__pretitle {
      font-size: 16px;
      grid-column: 2/4;
      margin-top: 60px;
      margin-bottom: -40px;
    }
    &__title {
      font-size: 32px;
      grid-column: 2/4;
    }
    &__text {
      font-size: 20px;
      grid-column: 2/5;
      margin-top: -30px;
    }
    &__link {
      border-radius: 20px;
      width: 160px;
      height: 45px;
      font-size: 20px;
      grid-column: 2;
      margin-top: -30px;
      display: flex;
      align-items: center;
    }
  }
}
