.reasons {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 320px;
  height: 624px;
  background-color: $ice-blue;
  text-align: center;

  &__title {
    font-size: 24px;
    font-family: $font-bold;
    grid-column: span 3;
    margin-top: 30px;
  }

  &__article {
    grid-column: 2;
    line-height: 30px;

    &__subtitle {
      font-family: $font-bold;
    }
    &__text {
      font-family: $font-main;
      text-align: center;
    }
  }
  &__button {
    grid-column: 2;
    justify-content: center;
    height: 35px;
    width: 180px;
    display: flex;
    align-items: center;
    background-color: $bright-orange;
    border-radius: 22.5px;
    font-family: $font-medium;

    &__link {
      color: $white;
      text-decoration: none;
    }
  }
}
