.reasons {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 320px;
  height: 624px;
  background-color: $ice-blue;
  text-align: center;

  &__title {
    font-size: 24px;
    font-family: $font-bold;
    grid-column: span 3;
    margin-top: 30px;
  }

  &__article {
    grid-column: 2;
    line-height: 30px;

    &__subtitle {
      font-family: $font-bold;
    }
    &__text {
      font-family: $font-main;
      text-align: center;
    }
  }
  &__button {
    grid-column: 2;
    justify-content: center;
    justify-self: center;
    height: 35px;
    width: 180px;
    display: flex;
    align-items: center;
    background-color: $bright-orange;
    border-radius: 22.5px;
    font-family: $font-medium;

    &__link {
      color: $white;
      text-decoration: none;
    }
  }
}
@media (min-width: 768px) {
  .reasons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 768px;
    height: 330px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;

    &__article {
      grid-column: span 1;
    }
  }
}

// *desktop*

@media (min-width: 1280px) {
  .reasons {
    width: 1280px;
    height: 427px;
    align-items: center;

    &__title {
      font-size: 32px;
    }

    &__article {
      &__subtitle {
        font-size: 24px;
      }
      &__text {
        font-size: 20px;
      }
    }
    &__button {
      font-size: 20px;
      width: 255px;
      height: 45px;
      grid-column: 2/3;
      justify-self: center;
    }
  }
}
