.reasons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 320px;
  height: 624px;
  background-color: $ice-blue;
  text-align: center;

  &__title {
    font-size: 24px;
    font-family: $font-bold;
    grid-column: span 3;
    margin-top: 30px;
  }

  &__article {
    grid-column: span 3;
    line-height: 30px;

    &__subtitle {
      font-family: $font-bold;
    }
    &__text {
      font-family: $font-main;
    }
  }
  &__button {
    grid-column: span 3;
    display: flex;
    justify-content: center;

    &__details {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      background-color: $bright-orange;
      border-radius: 22.5px;
      width: 180px;
      height: 45px;
      font-size: 20px;
      font-family: $font-medium;

      &__link {
        color: $white;
        text-decoration: none;
      }
    }
  }
}
