<header class="header" id="section-header">
  <div class="header__menu">
    <a href="https://adalab.es/" target="_blank"><img src="./images/ico-menu.svg" alt="menu desplegable"></a>
  </div>
  <div class="header__text">
    <h1 class="header__text__title"> ANONYMOUS PROXY</h1>
    <p class="header__text__paragraph"> In hac habitasse platea dictumst. </p>
    <div class="header__text__icon">
      <div class="header__text__icon__img"><a href="#section-reasons"><img src="./images/ico-scroll-down.svg"
            alt="flecha"></a></div>
    </div>
  </div>
</header>