<body>
    <section class="reasons">
        <h2 class="reasons__title"> 3 Reasons To Purchase </h2>
        <article class="reasons__article" class="reasons__article__1">
            <h3 class="reasons__article__subtitle">Ut sed metus</h3>
            <p class="reasons__article__text">Lorem ipsum dolor sit amet, consecteur.</p>
        </article>
        <article class="reasons__article" class="reasons__article__2">
            <h3 class="reasons__article__subtitle">Curabitur ac erat</h3>
            <p class="reasons__article__text">Mauris mattis urna quis lorem molestie.</p>
        </article>
        <article class="reasons__article" class="reasons__article__3">
            <h3 class="reasons__article__subtitle">Morbi dictum</h3>
            <p class="reasons__article__text">Aliquam in dolor et dolor tincidunt.</p>
        </article>
        <div class="reasons__button">
            <div class="reasons__button__details">
                <a class="reasons__button__details__link" href="https://adalab.es/" target="_blank">More reasons
            </div></a>
        </div>
    </section>
</body>